* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.section {
  margin: 10px;
  font-size: 1.8rem;
}
.color-yellow {
  background-color: #fef9c3;
}
.color-red {
  color: #cf261f;
}
.color-white {
  color: #fff;
}
.color-pink {
  background: rgb(255, 211, 209);
}
.person {
  width: 100%;
  height: 480px;
}
.person-img {
  height: 90%;
}
.time {
  background: #fff;
}

.person_2 {
  position: relative;
  border-radius: 50%;
}
.person_3 {
  position: relative;
  left: -20px;
  border-radius: 50%;
}
.person_4 {
  position: relative;
  left: -40px;
  border-radius: 50%;
}
.person_5 {
  position: relative;
  left: -60px;
  border-radius: 50%;
}
.person_6 {
  position: relative;
  left: -80px;
  border-radius: 50%;
}

.card_img {
  width: 40%;
}

.component-card {
  border: 2px solid gray;
  border-radius: 15px;
  box-shadow: 7px 7px 3px gray;
  font-size: 20px;
}

.quality .title {
  color: rgba(207, 38, 31, 1);
}
.quality .sub-title {
  background: rgba(207, 38, 31, 1);
  color: #fff;
  padding: 2px 5px;
}

.quality .book-title {
  background: rgba(207, 38, 31, 1);
  color: #fff;
  text-align: center;
  padding: 10px;
}
.quality .book {
  margin-top: 15px;
  width: 100%;
  height: 35rem;
}

.more {
  background: url("./images/price.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
}
.qr-img {
  width: 100%;
  padding-left: 5%;
  position: relative;
  top: 15rem;
}
.rs {
  background: rgba(207, 38, 31, 1);
  color: #fff;
  text-align: end;
  padding: 30px 30px;
}
.register {
  color: #fff;
  text-align: end;
  font-size: 20px;
  padding-right: 30px;
  margin-bottom: 100px;
}
.uses .blank1 {
  width: 100%;
  height: 301px;
  background: rgba(217, 217, 217, 1);
  border-radius: 20px;
}

.hard-challenge table tr th,
.hard-challenge td {
  padding: 10px;
  border: 2px solid rgba(207, 38, 31, 1);
}
.attempt .blank2 {
  width: 100%;
  height: 200px;
  background: rgba(217, 217, 217, 1);
  border-radius: 20px;
}
.notes {
  background-color: rgba(254, 249, 195, 1);
}
.notes .heading {
  color: rgba(207, 38, 31, 1);
}

.price .sub-title {
  color: rgba(207, 38, 31, 1);
}

.price table .header {
  padding: 5px;
  background: rgba(207, 38, 31, 1);
  color: #fff;
}
.price .price-table {
  width: 100%;
  border-radius: 25px;
}
.end-table-header {
  border-top-right-radius: 20px;
}
.price-table tr th,
.price-table tr td {
  border: 2px solid white;
}
.price-table tr td {
  padding: 10px;
  font-size: 2rem;
}

.price .code {
  background: #fff;
  border: 2px dashed rgba(207, 38, 31, 1);
  padding: 10px;
  margin: 10px;
}

.time .time_enroll {
  font-size: 6rem;
}

.days {
  position: relative;
  left: -7rem;
}
.hours {
  position: relative;
  left: -1rem;
}
.minutes {
  position: relative;
  left: 4rem;
}
.seconds {
  position: relative;
  left: 9rem;
}

.delete {
  color: gray;
}

.price-data {
  width: 30px;
}

.tick_green {
  width: 15px;
}

.hard-challenge table tr th {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
.hard-challenge table tr td {
  font-size: 2rem;
}
